 // Bourbon & Neat
@import '../../bower_components/bourbon/dist/bourbon';
@import '../../bower_components/neat/app/assets/stylesheets/neat';

// Colors

$color1:  #f5f5f5;
$color2:  #333333;
$color3:  #ffffff;
$color4:  #4183c4;
$color5:  #62b246;
$color6:  #888888;
$color7:  #dddddd;


// Custom Styles

/* {
  border: 1px solid $color7;
} */

body {

//  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;


   ul {
     padding-left: 0px;
  //  display: inline-block;
  //  vertical-align: middle;
    }

    li {
      display: inline-block;
    }

}

//This is the formatting for the header

.header {
  background-color: $color1;
  margin: 0px auto;
  height: 48px;
  text-align: center;

  .header_left {
    @include padding (5px null null 65px);
    float: left;
    display: inline-block;
    position: relative;

    li {
      color: $color2;
      font-weight: bold;
      font-size: 11px;
      @include padding (null 10px null 10px);

      input {
        width: 360px;
        height: 28px;
        color: $color7;
        font-weight: normal
      }

      a {
        text-decoration: none;
      }

      a:hover {
        text-decoration: underline;
        color: $color4;
      }
    }

    ul {
      margin-top:10px;
    }
  }

  .header_right{
    @include padding (10px 80px null null);
    float: right;
    position: relative;
    display: inline-block;
    font-weight: bold;


    li{
      font-size: 12px;
      margin-left: 10px;
      vertical-align: center;

      a{
        text-decoration: none;
      }

      a:hover{
        text-decoration: underline;
        color: $color4;
      }

        .bluecircle{
          height: 10px;
          width: 10px;
          border-radius: 5em;
          position: absolute;
          right: 0px;
          top: -5px;
          border: 2px solid white;
        }
    }
  }
}

//This is the formating for the main body

.section_main_body {
  @include outer-container;
  @include margin (20px null null null);

  .aside_sidebar {
    @include span-columns(3);
    background-color: none;
    @include padding (null null null 30px);

    .photo {
      padding-left: 0px;

      img {
        border-radius: 10px;
      }

      ul {
        padding-left: 0px;
      }

      li.idname {
          display: block;
          font-size: 28px;
          font-weight: bold;

          }

      li.username {
          font-size: 24px;
          color: $color6;
        }

    }

    .about{
      padding-left: 0px;
      display: inline-block;

      .octicon{
        color: $color6;
        @include margin (null 5px 5px null);
      }
    }

    .follow {
      color: $color6;
      font-size: 10px;
      padding-left: 0px;

      li {
        @include margin (null 15px null 17px);

        .num{
          color: $color4;
          text-align: center;
          font-size: 24px;
          font-weight: bold;

        }
      }
    }

    .org {
      font-weight: bold;
    }
  }

  .article_reposide {
    @include span-columns(9);

    .edit_profile{
      position: absolute;
      right: 40px;
      height: 30px;
      font-size: 10px;
      font-weight: bold;
      @include padding (5px 5px 5px 5px)
    }

    button {
      border-radius: 10px;
      background: $color7;
    }

      div.menu3
      {
          text-align:left;
          font-size:0;
          height:34px;
          *position:relative;*top:1px;/*Hacks for IE6 & IE7 */
      }

      div.menu3 a
      {
          display: inline-block;
          padding: 0 20px;
          //background:#F7F7F7;
          text-decoration:none;
          font: normal 12px Arial;
          line-height: 34px;
          border:1px solid #CAD0DB;
          border-bottom:0;
          //color:#666;
          vertical-align:top;
          text-decoration:none;
      }

      div.menu3 a:hover, div.menu3 a.current
      {
          //background:#E9ECF0;
          line-height: 34px;
          color:#000;
      }

      div.menu3sub
      {
          //border:1px solid #CAD0DB;
          //background:#E9ECF0;

        .midbox {
           height: 50px;
           @include border-width (null null 1px null);
           @include border-style (null null solid null);
           @include border-color (null null $color7 null);
           @include margin (14px null 12px null);

            .midleft {
              float: left;
              font-size: 12px;

              button{
                @include button(shiny, #ffffff);
                height: 35px;
                }

              input {
                height: 35px;
                width: 260px;
                color: $color7;
                border-radius: 5px;
              }
            }

            .midright {
              float: right;
              color: $color4;
              @include margin (null null null null);

              ul {
                @include margin (0px null 0px null);
              }

              li{
                display: inline-block;
                @include margin (null null null null);
                font-size: 12px;
                @include padding (null 7px null 7px);
                }

                button{
                  @include button(shiny, #62b246);
                  color: white;
                  height: 28px;}
            }
        }

        .repo_body {

            .repo_item{
              @include border-width (null null 1px null);
              @include border-style (null null solid null);
              @include border-color (null null $color7 null);
            
              @include padding(35px 0px 35px 0px);

              .repoleft {
                float: left;


                li{
                  display: block;


                  h2 {
                    font-size: 24px;
                    font-weight: bold;
                    @include margin(0px 0px 0px 0px);

                    a {
                      color: $color4;
                      text-decoration: none;
                    }

                    a:hover{
                      text-decoration: underline;
                    }
                  }

                  p{
                    font-size: 12px;
                    color: $color2;
                    @include padding(20px 0px 20px 0px);
                  }

                  h3 {
                    font-size: 10px;
                    color: $color6;
                    @include padding(0px 0px 0px 0px);
                  }
                }
              }

              .reporight {
                float: right;
              }

              li{
                display: inline-block;
                font-weight: bold;
                font-size: 12px;
                color: $color6;

              }
            }
          }
        }
      }
    }


//This is the footing format

.footer {
  text-align: center;
  color: $color7;
  background:$color1;
  height:50px;
  vertical-align: center;

  span{
    @include padding(15px null null null);
  }

  .footleft{
    @include padding(10px 0px 0px 90px);
    float: left;
    position: relative;
    color: $color4;
    font-size: 14px;

    li {
      @include padding(null 5px null 5px);
    }

    .copy{
      color: $color6;
    }
  }

  .footright{
    float:right;
    position: relative;
    color: $color4;
    @include padding(10px 90px 0px 0px);
    font-size: 14px;

    li {
      @include padding(null 7px null 7px);
    }
  }
}
