 // Bourbon & Neat
@import '../../bower_components/bourbon/dist/bourbon';
@import '../../bower_components/neat/app/assets/stylesheets/neat';

// Colors

$color1:  #f5f5f5;
$color2:  #333333;
$color3:  #ffffff;
$color4:  #4183c4;
$color5:  #62b246;
$color6:  #888888;
$color7:  #dddddd;


// Custom Styles

* {
  border: 1px solid $color7;
}

body {
  background: #fafafa;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;


   ul {
    display: inline-block;
  //  vertical-align: middle;
    }

    li {
      display: inline-block;
    }



}

//This is the formatting for the header

.header {
  background-color: $color1;
  text-align: center;

  .header_left{
    float: left;
    position: relative;
    top: 10px;
    left: 10px;
    color: $color2;
    font-weight: bold;

  }

  .header_right{
    float: right;
    position: relative;
    top: 10px;
    right: 10px;

  }
}

//This is the formating for the main body

section{
  @include outer-container;

  aside{
    @include span-columns(3);

    .about{
      width: 200px;
    }
  }

  article {
    @include span-columns(9);
    background-color: $color3;

    .midbox {

      .midleft {
        button{
          @include button(shiny, $color3);
        }
      }

      .midright {
        button{
          @include button(shiny, $color5);
        }
      }

    }

    .repositories{
      background-color: $color3;
      display: inline-block;

      //This is the left side of the repo

      .repoleft {
        float: left;


        h2 {
          color: $color4;
        }

        .repodesc {
          color: $color2;
        }

        .reposubmit {
          color: $color2;
        }
      }

      //This is the right side of the repo

      .reporight {
          float: right;
          color: $color2;



      }
    }
  }
}


//This is the footing format

.footer {
  text-align: center;
  color: $color4;

  .footleft{
    float: left;
    position: relative;
  }

  .footright{
    float:right;
    position: relative;
  }

}
