<!doctype html>
<html class="no-js">
  <head>
    <meta charset="utf-8">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1, minimal-ui">
    <title>A09</title>
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->

    <!-- build:css styles/vendor.css -->
    <!-- bower:css -->
    <link rel="stylesheet" href="../bower_components/normalize-css/normalize.css" />
    <link rel="stylesheet" href="bower_components/octicons/octicons/octicons.css">
    <!-- endbower -->
    <!-- endbuild -->

    <!-- build:css styles/main.css -->
    <link rel="stylesheet" href="styles/main.css">
    <!-- endbuild -->

    <!-- build:js scripts/vendor/modernizr.js -->
    <script src="../bower_components/modernizr/modernizr.js"></script>
    <!-- endbuild -->
  </head>
  <body>
    <div class = 'header'>
      This is the header

              <div class="HeaderLeft">
                <ul>
                  <li> <span class="octicon octicon-mark-github"></span>
                  </li>
                  <li><input type"search"/>
                  </li>
                  <li>Explore
                  </li>
                  <li>Gist
                  </li>
                  <li>Blog
                  </li>
                  <li>Help
                  </li>
                </ul>
              </div>
              <div class="HeaderRight">
                <ul>
                  <li> avatar image
                  </li>
                  <li>username
                  </li>
                  <li><span class="octicon octicon-plus"></span>
                  </li>
                  <li><span class="octicon octicon-inbox"></span>
                  </li>
                  <li><span class="octicon octicon-gear"></span>
                  </li>
                  <li><span class="octicon octicon-sign-out"></span>
                  </li>
                </ul>
              </div>

    </div>

    <section class = 'main_body'>
      This is the main body
        <aside class = 'sidebar'>
          This is the sidebar
        </aside>

        <article class = 'reposide'>
          This is the right side
          <div class = 'repo_body'>
            This is where repositories will go
          </div>
        </article>

    </section>

    <div class = 'footer'>
      This is the footer
    </div>

    <script id='repositories' type='text/template'>

    <li>
      <div class = 'repository'>
        <li> <% repo_title %> </li>
        <li> <% repo_update %> </li>
        <li> <% repo_desc %> </li>
        <li> <% repo_url %> </li>
        <li> <% repo_lang %> </li>
        <li> <% repo_star %> </li>
        <li> <% repo_fork %> </li>
    </li>

    </script>

    <script id='infosheet' type='text/template'>

    <li>
      The metro system in  <%= city %> is run by <%= location %>.
    </li>

    </script>

    <script id='following' type='text/template'>

    <li>
      The metro system in  <%= city %> is run by <%= location %>.
    </li>

    </script>

    <script id='organization' type='text/template'>

    <li>
      The metro system in  <%= city %> is run by <%= location %>.
    </li>

    </script>

    <!-- build:js scripts/vendor.js -->
    <!-- bower:js -->
    <script src="../bower_components/jquery/dist/jquery.js"></script>
    <script src="../bower_components/underscore/underscore.js"></script>
    <!-- endbower -->
    <!-- endbuild -->

        <!-- build:js scripts/main.js -->
        <script src="scripts/org.js"></script>
        <script src="scripts/repos.js"></script>
        <script src="scripts/starred.js"></script>
        <script src="scripts/user.js"></script>
        <script src="scripts/main.js"></script>
        <!-- endbuild -->
</body>
</html>
