<!doctype html>
<html class="no-js">
  <head>
    <meta charset="utf-8">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1, minimal-ui">
    <title>A09</title>
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->

    <!-- build:css styles/vendor.css -->
    <!-- bower:css -->
    <link rel="stylesheet" href="../bower_components/normalize-css/normalize.css" />
    <link rel="stylesheet" href="bower_components/octicons/octicons/octicons.css">
    <!-- endbower -->
    <!-- endbuild -->

    <!-- build:css styles/main.css -->
    <link rel="stylesheet" href="styles/main.css">
    <!-- endbuild -->

    <!-- build:js scripts/vendor/modernizr.js -->
    <script src="../bower_components/modernizr/modernizr.js"></script>
    <!-- endbuild -->
  </head>
  <body>
    <div class = 'header'>

              <ul class="HeaderLeft">
                <ul>
                  <li> <span class="octicon octicon-mark-github"></span>
                  </li>
                  <li><input type"search" value='Search GitHub'/>
                  </li>
                  <li>Explore
                  </li>
                  <li>Gist
                  </li>
                  <li>Blog
                  </li>
                  <li>Help
                  </li>
                </ul>
              </ul>
              <ul class="HeaderRight">
                <ul>
                  <li> avatar image
                  </li>
                  <li>username
                  </li>
                  <li><span class="octicon octicon-plus"></span>
                  </li>
                  <li><span class="octicon octicon-inbox"></span>
                  </li>
                  <li><span class="octicon octicon-gear"></span>
                  </li>
                  <li><span class="octicon octicon-sign-out"></span>
                  </li>
                </ul>
              </ul>

    </div>

    <section class = 'main_body'>

        <aside class = 'sidebar'>

          <ul class='photo'>
<!--            <li class='profileimg'>
            </li>
            <li>
              <h1>John Crocker</h1>
            </li>
            <li>
              <h3>gt7348b</h3>
            </li> -->
          </ul>

          <ul class='about'>
          <!--    <li>
                <span class="octicon octicon-location"></span>loc
              </li>
              <li>
                <span class="octicon octicon-clock"></span>join
              </li> -->
          </ul>

          <ul class='follow'>
            <li>
              Followers
            </li>
            <li>
              Starrted
            </li>
            <li>
              Following
            </li>
          </ul>

          <ul class='org'>
            Organizations
          </ul>

        </aside>

        <article class = 'reposide'>

          <div class='topbox'>
          </div>

          <div class='midbox'>

            <ul class='midleft'>
              <input type='search' value ='Find a repository'/>
              <button type='button'>Search</button>
            </ul>

            <ul class='midright'>
              <ul>
                <li class='All'>
                  All
                </li>
                <li>
                  Public
                </li>
                <li>
                  Private
                </li>
                <li>
                  Sources
                </li>
                <li>
                  Forks
                </li>
                <li>
                  Mirrors
                </li>
                <button type='button'>New</button>
              </ul>
            </ul>


          </div>

          <div class = 'repo_body'>
            <ul class='leftrepo'>
              <li><h2>Main Title</h2>
              </li>
              <li>
                <p>description</p>
              </li>
              <li>
                <p>Updated 6 days ago</p>
              </li>
            </ul>

            <ul class='rightrepo'>
              <li>
                language
              </li>
              <li>
                star 0
              </li>
              <li>
                fork 0
              </li>
            </ul>
          </div>

        </article>

    </section>

    <div class = 'footer'>

      <div class='footleft'>
        <ul>
          <li class='copy'>
            C 2014 GitHub, Inc.
          </li>
          <li>
            Terms
          </li>
          <li>
            Privacy
          </li>
          <li>
            Security
          </li>
          <li>
            Contact
          </li>
        </ul>

        <div class='footright'>
          <ul>
            <li>
              Status
            </li>
            <li>
              API
            </li>
            <li>
              Training
            </li>
            <li>
              Shop
            </li>
            <li>
              Blog
            </li>
            <li>
              About
            </li>
          </ul>

          <span class="octicon octicon-mark-github"></span>

    </div>

    <script id='repositories' type='text/template'>

    <li>
      <div class = 'repository'>
        <li> <%= repo_title %> </li>
        <li> <%= repo_update %> </li>
        <li> <%= repo_desc %> </li>
        <li> <%= repo_url %> </li>
        <li> <%= repo_lang %> </li>
        <li> <%= repo_star %> </li>
        <li> <%= repo_fork %> </li>
    </li>

    </script>

    <script id='sideid' type='text/template'>

      <img src=" <%= photo %> " style="width: 150px"/>
      <ul>
        <li><%= person_name %></li>
        <li><%= loc %></li>
      </ul>

    </script>

    <script id='about' type='text/template'>
          <li>
            <span class="octicon octicon-location"></span><p><% loc %></p>
          </li>
          <li>
            <span class="octicon octicon-clock"></span>
          </li>
          <li>
            <p><% join %></p>
          </li>
    </script>

    <script id='following' type='text/template'>

    <li>
      The metro system in  <%= city %> is run by <%= location %>.
    </li>

    </script>

    <script id='organization' type='text/template'>

    <li>
      The metro system in  <%= city %> is run by <%= location %>.
    </li>

    </script>

    <!-- build:js scripts/vendor.js -->
    <!-- bower:js -->
    <script src="../bower_components/jquery/dist/jquery.js"></script>
    <script src="../bower_components/underscore/underscore.js"></script>
    <!-- endbower -->
    <!-- endbuild -->


        <script src='scripts/token.js'></script>

        <!-- build:js scripts/main.js -->
        <script src="scripts/org.js"></script>
        <!-- <script src="scripts/repos.js"></script> -->
        <script src="scripts/starred.js"></script>
        <!--<script src="scripts/user.js"></script> -->
        <script src="scripts/main.js"></script>
        <!-- endbuild -->
</body>
</html>
